@charset "UTF-8";

article, aside, footer, header, main, nav, section{ 
	display:block;
	}
	
html, body, h1, h2, h3, ul, li, a, p,
article, aside, footer, header, main, nav, section{
	padding: 0;
	margin: 0;
}


.banner {
	background-color: #004d00;
    color: white;
    padding: 10px 20px;
    position: relative;
}

body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f0f0f0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px
}



nav {
	background-color:#00cc00;
	padding: 5px;
	margin-top: 15px;
    
}

 ul {
     margin: 0;
     padding: 0;
     list-style: none;
    width: 150px;
 }

 .menu1 {
     font-size: 15px;
     text-decoration: none;
     display: none;
     transition: ease-in linear;
     border:solid 2px black;
     padding: -5px;
     margin-top: 2px;
     background-color: gray;
     position:relative;
 }

 

 .menu1:hover {
     background-color: darkslategray;
     
 }

 ul li {
     color: white;
     font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
    font-weight: bold;
    background-color: #00cc00;
    
 }

 ul li a{
     text-decoration: none;
     color: white;
     
 }

img {
	height:500px;
	width:620px;
}

section {
	background-color:#bbbbbb;
	margin-top: 10px;
	text-align: center;
	padding: 5px;
}


article {
	background-color: white;
	margin-top: 5px;
	padding: 10px 15px;
}

main {
	width: 640px;
	float: left;
	margin-bottom:10px;
}

aside{
	background-color:#bbbbbb;
	width: 270px;
	float: right;
	margin-top:10px;
	padding: 20px;
    text-align:center;
}

footer{
	clear:both;
    background-color:#00cc00;
	color: white;
	padding: 5px 20px;
}

